h1.title {
  margin-top: 0.5em;
}

.error {
  color: red;
}

.warning {
  color: yellow;
}

.message {
  color: green;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        height: 0;
    }
}

.flash {
  background-color: yellow;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  margin: 30px;
  animation-delay: 5s;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

input {
  font-size: 2em;
}

input[type="text"] {
  font-size: 2em;
}

input.button-primary:disabled:hover {
  background-color: lightgray;
  border-color: lightgray;
}

input.button-primary:disabled {
  background-color: lightgray;
  border-color: lightgray;
}

input.button-primary:enabled {
}
