h1.title {
  margin-top: 0.5em;
}

.error {
  color: red;
}

.warning {
  color: yellow;
}

input {
  font-size: 2em;
}

input[type="text"] {
  font-size: 2em;
}

input.button-primary:disabled:hover {
  background-color: lightgray;
  border-color: lightgray;
}

input.button-primary:disabled {
  background-color: lightgray;
  border-color: lightgray;
}

input.button-primary:enabled {
}
